<article>
  <header>
    <h1>
      <a href="<%= url("posts/#{post.slug}") %>"><%= post.title %></a>
    </h1>
  </header>
  <hr>
  <div id='post'>
    <div>
      <%= post.body %>
    </div>
  </div>
  <footer>
  <p> <%= post.date %> |<% post.tags.each do |tag| %> <a href="<%= url("tagged/" + tag) %>">#<%= tag %></a> <% end %></p>
  </footer>
</article>

